.cent__align {
    text-align: center;
}

.about__center {
  text-align: center;
}

.about {
  flex-direction: column;
  margin-top: 3em;
}

.about__name {
  color: var(--clr-primary);
  /*#09e7eb*/
  /*#03ecdf* -- for chrome and mobile (anything that doesnt support linear gradient*/
}

.about__role {
  margin-top: 1.2em;
  text-align: center;
}


.about__intro {
  font-size: 1.3rem;
  max-width: 600px;
  text-align: center;
  margin-top: 3em;
}

@media (max-width: 600px) {
  .about__intro {
    font-size: 1.2rem;
    margin: 1.2em;
    padding-top: 3.8em;
    padding-left: 1em;
    padding-right: 1em;
  }
}

.about__desc {
  font-size: 1.2rem;
  max-width: 600px;
}

@media (max-width: 600px) {
  .about__desc {
    font-size: 1.1rem;
    margin: 1.2em;
    padding-left: 1em;
    padding-right: 1em;
  }
}

.about__desc,
.about__contact {
  margin-top: 2.6em;
  text-align: center;
}

.space_top {
  padding: 1em;
}

.space {
  padding: 1.4em;
}

.large_ghub {
  justify-content: center;
  align-items: center;
  transform: scale(2);
  margin-bottom: 0.5em;
}

.large_linkedin {
  justify-content: center;
  align-items: center;
  transform: scale(2.5);
  margin-bottom: 0.5em;
}

